* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
    padding: 0;
    margin-right: 275px;
    overflow: hidden;
}

nav {
    background-color: #353556;
    padding: 0 20px;
    width: 100%;
    justify-content: space-between;
}

nav a {
    color: #ffffff;
}

nav img {
    width: 70px;
    margin-left: 275px;
}

nav,
ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}

li {
    padding: 0 40px;
}

li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

button {
    background-color: transparent;
    border: none;
    color: #ffffff;
    font-size: 36px;
    position: absolute;
    right: 10px;
    display: none;
}

button:hover {
    color: #C58F35;
}

li a:hover {
    color: #C58F35;
}


/*Sessão 1*/

.container {
    margin: 75px 25px 0px 100px;
    display: flex;
    flex-direction: row;
    background-color: transparent;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container .sessoa1 {
    text-align: left;
}

.container .titulo {
    color: #353556;
    font-size: 26px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 12px;
}

.container span {
    color: #C58F35;
}

.container .texto {
    font-size: 14px;
    color: #1e1e22;
    font-weight: 500;
    text-align: left;
    line-height: 24px;
}

.container .photo1 img {
    width: 500px;
    margin-left: 62px;
}

.botao {
    border: 2px solid #353556;
    padding: 8px 18px 8px 18px;
    color: #353556;
    font-weight: 600;
    font-size: 14px;
    text-align: left;
    text-decoration: none;
}


/*Sessão 2*/

.container2 {
    background-color: #353556;
    height: 450px;
    width: 100%;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.container2 h1 {
    font-size: 28px;
    margin-bottom: 12px;
}

.container2 p {
    width: 675px;
    font-size: 14px;
    line-height: 25px;
}

.dourado {
    color: #C58F35;
}

.botao-shadow {
    padding: 12px 28px 12px 28px;
    background-color: #353556;
    color: #ffffff;
    font-weight: 500;
    font-size: 14px;
    text-align: left;
    text-decoration: none;
    filter: drop-shadow(4px 4px 25px rgba(0, 0, 0, 0.25));
}

.botao-shadow:hover {
    padding: 13px 29px 13px 29px;
    transition: 0.1s;
}

iframe {
    border-radius: 8px;
    margin-top: 12px;
}

.botao2 {
    border: 2px solid #ffffff;
    padding: 12px 30px 12px 30px;
    margin-bottom: 8px;
    color: #ffffff;
    font-weight: 600;
    font-size: 14px;
    text-align: left;
    text-decoration: none;
    border-radius: 8px;
    font-weight: 500;
}

.botao2:hover {
    margin-left: 8px;
    transition: 0.2s;
}

.botao2 i {
    margin-right: 8px;
}

button:hover~ul {
    height: 250px;
}

.margin1 {
    margin: 75px 120px 0px 300px;
}

.paper-margin {
    margin-left: 62px;
}

.paper-size {
    width: 400px;
}

@media (max-width: 700px) {
    /*Menu responsivo*/
    nav,
    ul {
        flex-direction: column;
    }
    nav {
        align-items: flex-start;
        width: 100%;
    }
    ul {
        text-align: center;
        margin-right: 0;
        width: 100%;
        height: 0;
    }
    li {
        margin-bottom: 26px;
        width: 100;
    }
    button {
        display: flex;
        margin-top: 14px;
        margin-right: 10px;
    }
    nav img {
        margin-left: 10px;
        margin-top: 0px;
        padding: 0;
    }
    .container {
        flex-direction: column;
        margin: 32px 26px 0px 26px;
    }
    .container .texto {
        font-size: 11px;
        font-weight: 500;
    }
    .container .photo1 img {
        width: 400px;
        margin: 32px 0 0 52px;
    }
    .container2 {
        height: 500px;
        width: 100%;
    }
    .container2 h1 {
        font-size: 24px;
        margin-bottom: 12px;
    }
    .container2 p {
        width: 350px;
        font-size: 10px;
        line-height: 25px;
    }
    .paper-margin {
        margin-top: 42px;
    }
    .paper-size {
        width: 325px;
    }
}